@import "tailwindcss";

@theme {
  --siya-red: #FF1818;
  --siya-baby-blue: #DDFCFF;
  --siya-green-green: #79918E;
  --siya-light-grey: #E1E1E1;
  --siya-lemon-cream: #FFFFF1;
  --siya-dark-green: #385852;
}